*{
   --light-blue: #A1A4D8
}

body{
    overflow: hidden;
}

.user-panel {
    position: relative;
    width: 1400px;
    height: 730px;
    padding: 0;
    background-size: 1000px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1433" height="937" viewBox="0 0 1433 937" fill="none"><path d="M0 936.626C85.6206 856.945 303.761 730.282 572.374 794.653C852.171 861.705 826.849 629.02 779.213 504.296C761.305 431.291 766.104 303.142 928.567 374.584C1091.03 446.025 1282.65 303.047 1345.75 203.699C1386.1 140.172 1425.03 36.3681 1433 0H0V936.626Z" fill="%234449AE"/></svg>');
    background-repeat: no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    overflow: hidden;
}
.headline {
    position: absolute;
    white-space: nowrap;
    top: 20px;
    left: 130px;
    font-size: 80px;
    font-weight: bold;
    color: white;
}
.circle-buttons{
    position: absolute;
    top: 60px;
    right: 85px;
    display: flex;
    gap: 40px;
}
.circle-buttons button{
    background-color: var(--primary-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.40s;
}
.circle-buttons button svg{
    width: 45px;
    height: 45px;
}
.circle-buttons button:hover {
    background-color: var(--hover-color);
}
.some-text{
    position: absolute;
    top: 170px;
    left: 130px;
    width: 100px;
    height: auto;
    font-size: 50px;
    color: var(--light-blue);
}
.trip-list-container{
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 750px;
}
